.paragraph
{
    width:65%;
    margin:0 auto;
    font-family: "Times New Roman";
}

p
{
    line-height: 1.4em;
}

.links-font
{
    color:#7fffd4;
}

.links-font:hover
{
    background-color: #111111;
}

