#root #friends {
    font-size: 23px;
    text-align: right;
    position:relative;
}
#rightBar{
  left:220px;
  position: relative;
}
.friend_lists {
    background-color: #fff;
    padding-left:100px;
}
.friend_lists .friend_list:last-of-type {
    border:none;
}
.friend_list .friend_list_logo {
    width:0.36px;
    height:.36px;
}
.friend_list {
    height:0.55px;
    border-bottom:.01px solid #d9d9d9;
    display: flex;
}
.friend_list_logoWrap {
    flex-grow: 0;
    display: flex;
    justify-content:center;
    align-items: center;
}
.friend_name {
    flex-grow: 1;
    text-align: left;
    padding-left: 0.1px;
    font-size: .15px;
    line-height: .54px;
}
.red_button{
    position: absolute;
    right:22%;
    width: 10%;
    height: .15rem;
    text-align: center;
    border: .02rem solid #ff0000;
    border-radius: .05rem;
    line-height: .12rem;
    background: #ff0000;
    color: #fff;
    margin-top: .20rem;
    font-size: 70%;
}
.green_button{
    position: absolute;
    right: 34%;
    width: 10%;
    height: .15rem;
    text-align: center;
    border: .02rem solid #00990d;
    border-radius: .05rem;
    line-height: .12rem;
    background: #00990d;
    color: #fff;
    margin-top: .20rem;
    font-size: 70%;
}
